@font-face {
	font-family: Montserrat;
	font-weight: normal;
	src: url("resources/fonts/Monserrat/Montserrat-Regular.otf") format("opentype");
}

* {
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}

*:focus {
	outline: none;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-flow: column;
}

header {
	background: black;
	flex: 0 0 80px;
}

footer {
	background: rgb(60,60,60);;
	flex: 0 0 60px;
}

img#madeWithBlockly {
	height: 60px;
	width: auto;
	float: right;
	margin: 10px 15px 0 0;
}

img#robobloxLogo {
	height: 70px;
	width: auto;
	float: left;
	margin: 7px 0 0 10px;
}

nav {
	background: rgb(60,60,60);
	flex: 0 0 40px;
}

button#run {
	background-color: #ff8c3c;
	color: white;
	float: right;
	vertical-align: middle;
	margin: 7px 20px 0 0;
	font-size: 14px;
	padding: 1px 6px;
	border-radius: 10px;
	border: 3px solid #ff8c3c;
}

button#reset {
	background-color: #ef4545;
	color: white;
	float: left;
	vertical-align: middle;
	margin: 7px 20px 0 20px;
	font-size: 14px;
	padding: 1px 6px;
	border-radius: 10px;
	border: 3px solid #ef4545;
}

button.fade {
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

button.fade:hover {
	filter: saturate(300%);
	/*background-color: #FF6400;
	border-color: #FF6400;*/
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

button.fade:active {
	filter: brightness(90%);
	transition-duration: 0s;
}

[class^="sliderLabel"] {
	font-size: 16px;
	display: inline;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.sliderLabelLeft {
	display: inline;
	color: #ff8c3c;
}

.sliderLabelRight {
	display: inline;
	color: white;
}

.switch {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 16px;
	margin: 12px 2px 0 2px;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffbe96;
	border-radius: 34px;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 0px;
	bottom: -3px;
	background-color: #ff8c3c;
	border-radius: 50%;
	-webkit-transition: .2s;
	transition: .2s;
}
  
.switch input:checked + .slider:before {
	left: 10px;
}

div#blocklyArea {
	flex: 1 1 auto;
}

div#blocklyDiv {
	position: absolute;
}

div.blocklyToolboxDiv {
	padding-top: 5px;
}